@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
  }

  /*- Weights: 500, 700*/
  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 100 to 900
  
  .fraunces-<uniquifier> {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "SOFT" 0,
      "WONK" 0;
  }
/*- Weights: 700*/
